<article class="article">
  <div class="article__header">
    <h1 class="article__title">
      <a href="{{this.url}}" title="{{this.title}}">{{this.title}}</a>
    </h1>
    <ul class="article__info">
      <li class="article__info__date">{{this.postDate}}</li>
<!--
      <li class="article__info__category"><a href="{{this.category.url}}" rel="category tag">{{category.title}}</a></li>
-->
    </ul>
  </div>
  <div class="article__body">
    {{{this.intro}}}
<!--
    <a href="{{this.url}}" class="more-link">Read More</a>
-->
  </div>

</article>
