<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="Content-Language" content="ja" />
	<meta name="keywords" content="jquery,javascript,css" />
	<meta name="description" content="" />
	<title>{{article.title}} | CYOKODOG</title>
	<link rel="shortcut icon" href="/theme/cyokodog/favicon.ico">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!--
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>-->

	<link href='/theme/cyokodog/raleway.css' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' id='style-css'  href='/theme/cyokodog/index.css' type='text/css' media='all' />


</head>
<body class="single single-post postid-232 single-format-standard logged-in {{article.pageType}}" >
	<div class="l-header">
		<div class="u-layout-center">
      <div class="site-header">
        <a class="site-header__logo" href="/">
          <img src="https://lh4.googleusercontent.com/-u47wdUJYuNk/Tuiz2w6sLuI/AAAAAAAAEGA/v0cmgN4ZysU/s144/DSC01588.JPG"/>
        </a>
        <div class="site-header__text">
          <h1>
            <a href="/">CYOKODOG</a>
            <span class="social-icons">
              <a class="fa fa-github-square" href="https://github.com/cyokodog"></a>
              <a class="fa fa-twitter-square" href="https://twitter.com/cyokodog"></a>
              <a class="fa fa-facebook-square" href="https://www.facebook.com/cyokodog.net"></a>
              <a class="fa fa-google-plus-square" href="https://plus.google.com/u/0/115524754009910942363/posts"></a>
            </span>
          </h1>
          <h2>DEVELOPER BLOG
          </h2>
        </div>

<!--         <div class="site-header__search">
          <form class="searchForm" action="http://www.google.com/search" method="get">
            <input class="searchForm__queryData" name="q" type="hidden"/>
            <input class="searchForm__query" type="text" id="s" value=""/>
          </form>
			  </div>
 -->
      </div>
    </div>
	</div>

	<div class="l-site-nav">
		<div class="u-layout-center">
			<div class="tab site-nav">
        <ul>
          <li class="page_item {{#match article.pageType 'home'}}current_page_parent{{/match}}">
            <a href="/">HOME</a>
          </li>
          <li class="page_item {{#unmatch article.pageType 'home'}}current_page_parent{{/unmatch}}">
            <a href="/blog/">BLOG</a>
          </li>
        </ul>
      </div>
		</div>
	</div>

  <div class="l-contents">
    <div class="u-layout-center">
      {{#block "body"}}
      {{/block}}
      {{#block "pageNav"}}
      {{/block}}
  	</div>
  </div><!-- l-contents -->


  <style>
  .l-banner{
    xpadding-top:128px;
    padding-bottom:128px;
    background-image: url(https://lh4.googleusercontent.com/-oCiTMRZC7KI/VEaEI6xu2aI/AAAAAAAAIKk/da528QPvTYY/s800/IMG_1723.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 640px
  }
  l-footer{
    margin-top:0;
  }
  .banner iframe,
  .banner img{
    xmargin:16px 0 0;
    max-width: 260px;
    xmax-height: 150px;
    xdisplay:block;
    border:none;
  }
  .banner__pxgrid{
  }
  </style>

  <div class="l-contents l-banner">
    <div class="u-layout-center">
      <div class="banner">
        <div>
          <a href="http://www.codegrid.net/"><img src="/static/img/codegrid.png"/></a><a href="https://www.pxgrid.com/"><img class="banner__pxgrid" src="/static/img/pxgrid.png"/></a>
        </div>
        <div>
          <iframe src="https://www.youtube.com/embed/gZvCPu7qZiM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><iframe src="https://www.youtube.com/embed/VKWWFvWsPUg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
        <iframe src="https://www.youtube.com/embed/5DU59_X-8lw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div><!-- l-contents -->


  <div class="l-footer">
    <div class="u-layout-center">
      <div class="wp-widget">
        <div class="wp-widget__header" id="allPosts">All Posts</div>
          <ul>
          {{#each articleList.__blog__}}
            <li>
              <span class="post-date">{{this.postDate}}</span>
              <a href="{{this.url}}">{{this.title}}</a>
            </li>
          {{/each}}
          </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{SETTINGS.TEMPLATE.GA_ID}}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?ver=1.0'></script>
  <script type='text/javascript' src='/theme/cyokodog/index.js'></script>

<script>
//document.querySelector('.searchForm')
$('.searchForm').on('submit' , function(){
  $('.searchForm__queryData').val('site:www.cyokodog.net ' + $('.searchForm__query').val());
});
</script>

<style>
.easy-social-buttons-container{
  margin-bottom:32px;
}

</style>

</body>
</html>


